<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GC Live</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>All Running Requests</h1>
<ul>
    <li th:each="requestId : ${requests}">
        <a th:href="@{/status(id=${requestId})}">
            <span th:text="${requestId}"/>
        </a>
    </li>
</ul>
<div><a th:href="@{/request}">Create new request</a></div>
</body>
</html>