<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GC Live</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:inline="javascript" th:if="${request.state != T(net.funkenburg.gc.backend.RequestState).DONE}">
        /*[+
            setTimeout(function() {
            window.location = [[@{/status(id=${request.id})}]];
            }, 5000);
        +]*/


    </script>
</head>
<body>
<a th:href="@{/status(id=${request.id})}"><p th:text="${request.id}"/></a>
<p th:text="${request.state}"/>
<p th:text="${request.detail}"/>
<ul>
    <li th:each="entry : ${request.results}">
        <span th:text="${entry.key}"/>,
        Count: <span th:text="${entry.value.count}"/>
        <a th:href="@{/gpi(id=${requestId}, type=${entry.key})}" th:download="${entry.key} + '.gpi'">gpi</a>,
        <a th:href="@{/gpx(id=${requestId}, type=${entry.key})}" th:download="${entry.key} + '.gpx'">gpx</a>
    </li>
</ul>
</body>
</html>