<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:inline="javascript" th:if="${request.state != T(net.funkenburg.gc.backend.RequestState).DONE}">
    /*[+
        setTimeout(function() {
        window.location = [[@{/status(id=${request.id})}]];
        }, 5000);
    +]*/



    </script>
</head>
<body>
<a th:href="@{/status(id=${request.id})}"><p th:text="${request.id}"/></a>
<p th:text="${request.state}"/>
<p th:text="${request.detail}"/>
<ul>
    <li th:each="entry : ${request.result}">
        <a th:href="@{/gpi(id=${requestId}, type=${entry.key})}" th:download="${entry.key} + '.gpi'">
            <span th:text="${entry.key}"/>
        </a>
    </li>
</ul>
</body>
</html>